---
import Layout from "@layouts/Layout.astro";
import { getCollection } from 'astro:content';
const posts = await getCollection('posts');

// Extract and deduplicate tags
const tags = [...new Set(posts.flatMap(post => post.data.tags))];
---

<Layout pageTitle="Tag Index">
    <div class="tags">
        {tags.map((tag) => (
            <p class="tag">
                <a href={`/tags/${tag}`}>{tag}</a>
            </p>
        ))}
    </div>
</Layout>
